/* login-container 스타일 */
@font-face {
  font-family: "goorm-sans-bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: calc(100vh - 238px);
  box-sizing: border-box;
}

/* 로고 이미지 스타일 */
.login-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.logo-text {
  font-weight: bold;
}

.logo-strong {
  font-weight: bold;
  font-size: 30px;
}
/* 서비스 제목 스타일 */
.login-service-title {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* 강조된 텍스트 스타일 */
.login-service-title-b {
  font-weight: 700;
  font-size: 36px;
}

/* 설명 텍스트 스타일 */
.login-explain1 {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-top: 10px;
  font-family: "goorm-sans-bold";
}
.login-explain2 {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  font-family: "goorm-sans-bold";
}

/* 로그인 버튼 컨테이너 스타일 */
.login-button-container {
  display: flex;
  justify-content: center;
  width: 80%;
}

/* 로그인 버튼 스타일 */
.login-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* 카카오 로그인 버튼 이미지 스타일 */
.login-button-img {
  width: 100%;
  height: auto;
}
/* 로그인 완료 및 로그아웃 스타일 */
.login-oauth-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  box-sizing: border-box;
}

.logout-button,
.quit-button {
  margin-top: 15px;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #ffffff;
  color: #ff0000;
  border: solid 1px #ff0000;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-button:hover,
.quit-button:hover {
  background-color: #e60000;
  color: #ffffff;
  border: solid 1px #ffffff;
  transform: translateY(-1px);
}
