@font-face {
  font-family: "goorm-sans-bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.check-page {
  max-width: 400px;
  min-height: calc(100vh - 223px);
  margin: 0 auto;
  padding: 20px 30px 0 30px;
}
.check-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  text-align: left;
  font-family: "goorm-sans-bold";
}

.check-title {
  font-size: 24px;
  font-weight: bold;
  margin: 30px auto 15px 0;
}

.sub-title {
  display: flex; /* 이미지와 텍스트를 가로로 나란히 배치 */
  align-items: center; /* 세로 중앙 정렬 */
  border-radius: 15px;
  background-color: #e7f4f1; /* 민트색 배경 */
  padding: 15px;
  font-size: 14px; /* 폰트 크기 */
  color: #333; /* 텍스트 색상 */
  line-height: 1.5;
  margin: 30px auto 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.sub-title .icon {
  width: 40px; /* 아이콘 크기 */
  height: 40px;
  margin-right: 10px; /* 텍스트와의 간격 */
}

.sub-title .text-content {
  font-size: 14px;
}

.sub-title strong {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #000;
}

.check-button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-bottom: 30px;
}

.option-button1,
.option-button2 {
  width: 47%;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.option-button2.selected {
  background-color: #ff5f24;
  color: #ffffff;
}
.option-button1.selected {
  background-color: #00a6ff;
  color: #ffffff;
}

.option-button1:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #000dff;
}
.option-button2:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  color: #ffffff;
  background-color: #ff0000;
}

.warning {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
}

.check-info {
  font-size: 14px;
  color: #555;
  margin: 0 auto 20px 0;
  line-height: 1.6;
}

.complete-button {
  width: 120px;
  padding: 15px 20px;
  margin: 0 auto 30px auto;
  font-size: 17px;
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "goorm-sans-bold";
}

.complete-button:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  background-color: #cdcdcd;
}
