.adopt-container {
  max-width: 400px;
  min-height: calc(100vh - 223px);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.adopt-title {
  text-align: center;
  font-size: 32px;
  margin: 40px 0;
  font-weight: 600;
  color: #333;
}

.squirrel-selection-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.squirrel-item {
  position: relative;
  width: 100px;
  padding: 10px;
  background-color: #ececec;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.squirrel-item.dimmed {
  opacity: 0.5;
}

.squirrel-item.selected {
  opacity: 1;
  border: 2px solid #45857d;
}

.squirrel-image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.squirrel-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.selection-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
}

.complete-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #45857d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.complete-button:disabled {
  background-color: #999;
  cursor: not-allowed;
}
.complete-button:enabled {
  background-color: #45857d;
}
.complete-button:hover:enabled {
  background-color: #249285;
}
