@font-face {
  font-family: "goorm-sans-bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.squirrel-page {
  background-image: url("../../../assets//background/AQIBackgrounds/level1.png");
  background-size: 100%; /* 배경 이미지를 컨테이너에 맞게 확장하여 잘리지 않도록 설정 */
  background-position: top center; /* 배경 이미지를 상단 중앙에 위치 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-attachment: scroll; /* 배경 이미지를 스크롤할 때 함께 움직이도록 설정 */

  max-width: 400px;
  min-height: calc(100vh - 223px);
  margin: 0 auto;
  padding: 10px 10px 20px 10px;
}
.squirrel-container {
  max-width: 400px;
  min-height: calc(100vh - 268px);
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.level-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  width: 85%;
  background-color: #e1e9e89b;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.progress {
  background-color: #45857d;
  border-radius: 10px;
  height: 100%;
}

.feed-acorn {
  display: flex;
  flex-direction: column;
}
.feed-acorn > img {
  padding: 10px;
  width: 100px;
  height: 100px;
  margin: 10px auto;
}
.feed-acorn > p {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
  font-family: "goorm-sans-bold";
}

.feed-acorn > input[type="range"] {
  width: 70%;
  margin: 0 auto;
}

.acorn-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acorn-button {
  background-color: #c2dfac;
  color: #585858;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.acorn-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.acorn-count > img {
  width: 35px;
  height: 35px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3)); /*그림자*/
}

.acorn-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 350px;
  padding: 30px 20px;
  border-radius: 30px;
  text-align: center;
  position: relative;
  line-height: 1.8rem;
}
.modal-content > h3 {
  font-size: 25px;
  font-weight: bold;
}

.acorn-modal-btn {
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
  color: white;
  background-color: #45857d;
  cursor: pointer;
  border-radius: 15px;
  font-size: 18px;
}
.level-text {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}
.level-text > p {
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.squirrel-section {
  position: relative;
}

.chat-squirrel {
  border-radius: 5px;
  text-align: center;
}

.chat-squirrel > img {
  margin: 0 auto;
  width: 50%;
}

.new-squirrel-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff9f;
  color: white;
  padding: 20px 20px;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
}

.chat-section {
  margin-top: 10px;
  position: relative; /* 부모 요소의 위치 기준 설정 */
  font-family: "goorm-sans-bold";
}

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 30px;
  height: 500px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1; /* 겹치는 요소 위에 표시되도록 설정 */
  overflow-y: auto;
}
.chat-log {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 30px;
  overflow-y: auto;
}

.chat-log::-webkit-scrollbar {
  display: none;
}

.message {
  margin-bottom: 10px;
  max-width: 80%; /* 최대 너비 설정 */
}

.message.user {
  align-self: flex-end; /* 오른쪽 정렬 */
  border-radius: 40px 40px 0 40px;
  background-color: #c2dfac;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: right;
  line-height: 130%;
  color: #585858;
}
.message.bot {
  align-self: flex-start; /* 왼쪽 정렬 */
  border-radius: 40px 40px 40px 0;
  background-color: #e1e9e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: left;
  line-height: 130%;
  color: #000000;
}

.common-questions-container {
  position: absolute; /* 부모 요소의 상대적인 위치를 기준으로 절대 위치 설정 */
  bottom: 65px; /* 하단에 위치 */
  left: 0;
  width: 100%;
  max-height: 0;
  padding: 10px 10px 15px 10px;
  background-color: #e0e0e0;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.common-questions-container.visible {
  max-height: 160px; /* 펼쳐진 상태에서의 최대 높이 */
  overflow: hidden;
}
.common-questions {
  max-height: 140px; /* 부모 요소의 가용 높이를 사용 */
  overflow-y: auto; /* 내부 스크롤 활성화 */
  background-color: #e0e0e0;
  border-radius: 15px;
  transition: max-height 0.3s ease-in-out;
  z-index: 2; /* chat-messages 위에 위치 */
}

.common-questions::-webkit-scrollbar {
  width: 1px; /* 스크롤바 너비 */
}

.question {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 15px;
  cursor: pointer;
}
.question:last-child {
  margin-bottom: 20px; /* 마지막 요소에만 하단 마진 추가 */
}
.question:hover {
  background-color: #ddd;
}
.toggle-button-container {
  margin-top: auto;
}
.toggle-button {
  width: 15%;
  margin: 0 auto 10px auto;
  background-color: #acacac;
  color: white;
  padding: 3px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input-container {
  display: flex;
  margin-top: 15px;
}

.chat-input-container input {
  flex: 1;
  font-size: 13px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-input-container button {
  background-color: #45857d;
  color: #ffffff;
  border: none;
  padding: 10px 11px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input-container button:disabled {
  background-color: #aaa;
}
