.location-dropdown {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  position: relative;
}

.dropdown-controls {
  display: flex;
  align-items: right;
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  color: #f7f7f7;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-button {
  flex-grow: 1;
  font-size: 16px;
  cursor: pointer;
  color: #f7f7f7;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.gps-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.gps-icon {
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  list-style: none;
  padding: 0;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #828282;
  position: absolute; /* 절대 위치 설정 */
  top: 100%; /* 부모 요소 바로 아래에 위치 */
  left: 50%; /* 부모 요소의 수평 중앙에 위치 */
  transform: translateX(-50%); /* 수평 중앙 정렬 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
}

.dropdown-menu li {
  text-align: center;
  padding: 10px;
  cursor: pointer;
  color: #f7f7f7;
}

.dropdown-menu li:hover {
  color: red;
}
