.location-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dropdown-controls {
    display: flex;
    align-items: center;
}

.dropdown-button {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.gps-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.gps-icon {
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}