.location-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.dropdown-controls {
    display: flex;
    align-items: center;
}

.dropdown-button {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #a3c6a5;
    /* 부드러운 녹색 테두리 */
    border-radius: 5px;
    background-color: #edf7f1;
    /* 자연의 부드러운 초록색 배경 */
    color: #3c6e47;
    /* 진한 녹색 텍스트 */
}

.gps-button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.gps-icon {
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    border: 1px solid #a3c6a5;
    /* 부드러운 녹색 테두리 */
    border-radius: 5px;
    background-color: #ffffff;
    /* 흰색 배경 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #4a523a;
    /* 다람쥐를 연상시키는 갈색 텍스트 */
    background-color: #edf7f1;

}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
    /* 중립적인 회색 배경 */
    background-color: #d0e1c4;

}