.answer-page {
  background-image: url("../../../assets//background/missionBackground.png");
  background-size: 100%; /* 배경 이미지를 컨테이너에 맞게 확장하여 잘리지 않도록 설정 */
  background-position: top center; /* 배경 이미지를 상단 중앙에 위치 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-attachment: scroll; /* 배경 이미지를 스크롤할 때 함께 움직이도록 설정 */

  max-width: 400px;
  min-height: calc(100vh - 338px);
  margin: 0 auto;
  padding: 30px 10px;
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffffff;
}
.answer-container {
  width: 90%;
  padding: 30px;
  background-color: #ffffff;
  margin: 170px auto 0 auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #000000;
}
.correct-answer-section {
  margin-bottom: 20px;
}

.correct-answer-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.correct-answer-box {
  background-color: #45857d;
  color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 400;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.explanation-section {
  margin-bottom: 20px;
}

.explanation-text {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  background-color: #e1e9e8;
  padding: 15px;
  border-radius: 15px;
  text-align: left;
}

.reward-section {
  margin: 20px 0;
}

.confirm-button {
  width: 60%;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  background-color: #c2dfac;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.confirm-button:hover {
  background-color: #b6d1a1;
}
