.dailymission-container {
  min-height: calc(100vh - 338px);
  padding: 30px;
}

.dailymission-header {
  font-size: 16px;
  font-weight: 700;
}
.dailymission-page-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.acron-img {
  display: block;
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.dailymission-explanation-text {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
}
.mission-container {
  height: 69px;
  width: 100%;
  background-color: #f1f1f3;
  display: flex;
  margin: 10px 10px 10px 0px;
  padding: 10px 20px 10px 10px;
  align-items: center;
}
.check-img {
  width: 40px;
  height: 40px;
  margin-left: auto;
  /* 회색으로 변경하는 속성 */
  filter: grayscale(100%);
}
