.falling-acorn-container {
  max-width: 400px;
  min-height: calc(100vh - 338px);
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.falling-acorn-title {
  text-align: center;
  font-size: 28px;
  margin: 30px 0;
  font-weight: 600;
  color: #333;
}

.start-button,
.restart-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffeb3b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 200px;
}

.start-button:hover,
.restart-button:hover {
  background-color: #fdd835;
}

.falling-acorn {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url("../../../assets/background.png");
  background-size: cover;
}

.score-board {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}

.acorn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/acorn.png");
  background-size: cover;
}

.basket {
  position: absolute;
  bottom: 1px;
  width: 100px;
  height: 58px;
  background-image: url("../../../assets/basket.png");
  background-size: cover;
}

.mobile-controls {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.control-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ffeb3b;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.control-button:hover {
  background-color: #fdd835;
}
