.gamelist-container {
  min-height: calc(100vh - 238px);
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.game-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
