.ox-quiz-page {
  background-image: url("../../../assets//background/oxBackground.png");
  background-size: 100%; /* 배경 이미지를 컨테이너에 맞게 확장하여 잘리지 않도록 설정 */
  background-position: top center; /* 배경 이미지를 상단 중앙에 위치 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-attachment: scroll; /* 배경 이미지를 스크롤할 때 함께 움직이도록 설정 */

  max-width: 400px;
  min-height: calc(100vh - 223px);
  margin: 0 auto;
  padding: 30px 10px;
  background-color: #ffffff;
}

.ox-quiz-container {
  width: 90%;
  padding: 30px;
  background-color: #ffffff;
  margin: 170px auto 0 auto;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.quiz-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #000000;
  font-family: "goorm-sans-bold";
}

.quiz-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.quiz-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiz-question {
  background-color: #45857d;
  color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5rem;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.options-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 40px;
}

.option-button {
  flex: 1;
  margin: 0 10px;
  font-size: 90px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.option-button.selected-blue {
  color: #007bff;
}

.option-button.selected-red {
  color: #dc3545;
}

.submit-button {
  width: 60%;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: "goorm-sans-bold";
  color: #000000;
  background-color: #c2dfac;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.submit-button:hover {
  background-color: #ccc;
}
