.favorites-page {
  background-image: url("../../../assets//background/example2.png");
  background-size: 100%; /* 배경 이미지를 컨테이너에 맞게 확장하여 잘리지 않도록 설정 */
  background-position: top center; /* 배경 이미지를 상단 중앙에 위치 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-attachment: scroll; /* 배경 이미지를 스크롤할 때 함께 움직이도록 설정 */

  max-width: 400px;
  min-height: calc(100vh - 238px);
  margin: 0 auto;
  padding: 10px 10px 20px 10px;
}
.favorites-container {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 맑은 공기를 연상시키는 부드러운 파란색 */
}

.search-container {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
.search-bar {
  display: flex;
  align-items: center;
  margin: 0 auto 10px auto;
  width: 90%;
  max-width: 600px;
}
.search-bar-input {
  flex-grow: 1;
  padding: 12px 16px 12px 32px;
  font-size: 16px;
  /* 부드러운 녹색 테두리 */
  border-radius: 25px;
  background-color: #ffffff;
  /* 흰색 배경 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: border-color 0.2s ease-in-out;
}
.search-icon {
  position: absolute; /* 절대 위치 설정 */
  left: 30px; /* 입력 필드 내부 왼쪽 여백 */
  top: 40%;
  transform: translateY(-50%); /* 아이콘을 수직 중앙에 정렬 */
  color: #000000; /* 아이콘 색상 */
  pointer-events: none; /* 클릭 이벤트가 아이콘에 전파되지 않도록 설정 */
}
.search-bar-button {
  padding: 12px;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #45857d;
  /* 숲을 연상시키는 녹색 */
  color: #ffffff;
  /* 흰색 텍스트 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.search-bar-button:hover {
  background-color: #448981;
  /* 좀 더 진한 숲의 녹색 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.search-result-container {
  position: absolute;
  top: 100%;
  left: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;

  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.search-result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.search-result-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-result-item-location {
  font-size: 16px;
  color: #3e5b37;
  /* 자연의 녹색을 담은 글씨 색상 */
}

.search-result-item-delete-button {
  padding: 8px 16px;
  background-color: #45857d;
  /* 다람쥐를 연상시키는 따뜻한 갈색 */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.search-result-item-delete-button:hover {
  background-color: #45857d;
}
.favorites-item-container {
  width: 100%;
  border-radius: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px 15px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.favorites-items-title {
  width: 100%;
  border-radius: 30px;
  background-color: #4b8944;
  text-align: center;
  font-size: 32px;
  margin: 140px 0 20px 0;
  padding: 10px;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.favorites-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
}

.favorite-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #2d2d2d;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.favorite-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.favorite-item-location {
  font-size: 16px;
  font-weight: bold;
  color: #3e5b37;
  /* 자연의 녹색을 담은 글씨 색상 */
}

.favorite-item-delete-button {
  padding: 8px 16px;
  background-color: #a3493c;
  /* 다람쥐를 연상시키는 따뜻한 갈색 */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #ffffff;
  /* 흰색 텍스트 */
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;
}

.favorite-item-delete-button:hover {
  background-color: #8b3c31;
  /* 좀 더 진한 갈색 */
}

.no-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 20px 15px 20px;
}
