@font-face {
  font-family: "goorm-sans-bold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.squirrel-collection {
  display: flex;
  flex-wrap: wrap; /* 아이템들을 줄바꿈하여 여러 줄에 걸쳐 배치 */
  width: 100%;
  justify-content: space-around;
  padding: 20px 10px;
}

.squirrel-item-collection {
  text-align: center;
  flex: 1 1 calc(50% - 40px); /* 각 아이템의 너비를 부모의 50%로 설정 (2열) */
  box-sizing: border-box;
  max-width: 162px;
  padding: 10px;
  margin: 5px 2px 5px 2px;
  position: relative;
  width: 100px;
  padding: 10px;
  background-color: #ececec;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.image-container {
  position: relative;
  width: 150px;
  height: 200px;
  margin: 0 auto; /* 중앙 정렬 */
}

.pedestal {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 4%;
  height: auto;
}

.squirrel {
  position: absolute;
  bottom: 45px;
  left: 50%; /* 수평 중앙 정렬 */
  transform: translateX(-50%);
  width: 70%;
  height: auto;
}

.squirrel-name {
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}

.squirrel-date {
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  font-family: "goorm-sans-bold";
}
