/* Footer.css */
.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f8f8;
  text-align: center;
  margin-bottom: 73px;
}

.footer-logo {
  padding-top: 1rem;
  width: 100px; /* 이미지 크기 조정 */
  margin-bottom: 15px;
}

.footer-text {
  font-size: 12px;
  color: #777;
  line-height: 1.5;
  text-align: center; /* 텍스트를 왼쪽으로 정렬 */
  /* 필요에 따라 추가적인 스타일 */
  margin: 0;
}
