/* Layout.css */
.background-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e1e9e8;
}

@media (max-width: 768px) {
  .background-container {
    background-image: none;
  }
}

.mobile-frame {
  width: 400px;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.content-container {
  flex: 1;
  overflow: auto;
  height: 600px;
}

.content-container::-webkit-scrollbar {
  display: none;
}
