/* Wrapbar.css */
/* .Wrapbar {
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    background-color: #eee;
    display: flex;
    padding: 10px 0;
}
.Wrapbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
} */
.wrapbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* 다른 요소들보다 위에 오도록 설정 */
}
.wrapbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: #333;
}
.wrapbar-icon {
    width: 24px; /* 아이콘 크기 */
    height: 24px;
    margin-bottom: 5px;
}
